
<div class="container">
  <h2>Add a New Plant</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="commonName">Common Name:</label>
      <input type="text" id="commonName" name="commonName" [(ngModel)]="newPlant.commonName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="nickname">Nickname:</label>
      <input type="text" id="nickname" name="nickname" [(ngModel)]="newPlant.nickname" class="form-control">
    </div>
    <div class="form-group">
      <label for="dateplanted">Date Planted:</label>
      <input type="date" id="dateplanted" name="dateplanted" [(ngModel)]="newPlant.dateplanted" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="notes">Notes:</label>
      <textarea id="notes" name="notes" [(ngModel)]="newPlant.notes" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="lastwater">Last Watering Date:</label>
      <input type="date" id="lastwater" name="lastwater" [(ngModel)]="newPlant.lastwater" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastfertilization">Last Fertilization Date:</label>
      <input type="date" id="lastfertilization" name="lastfertilization" [(ngModel)]="newPlant.lastfertilization" class="form-control">
    </div>
    <button type="submit" class="addPlant">Save Plant</button>
  </form>
  <button (click)="navigateToGarden()">back to garden!</button>
</div>
