.login-container{
    display: flex;
    height: 100vh;
    font-family: Georgia, serif;
}

.mushroom-container{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container{
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
}

.name-container {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    
    font-family: Georgia, serif;
}