<h1>Common Pests found for: {{ commonName }}</h1>

<button (click)="navigateToGarden()">back to garden!</button>

<div class="pest-details" *ngFor="let pest of pests">
  <h2>{{ pest.common_name }}</h2>
  <img [src]="pest.images[0]?.regular_url" alt="{{ pest.common_name }} Image" class="pest-image"/>

  <h3>Description:</h3>
  <ul>
    <li *ngFor="let description of pest.description">{{ description.subtitle }}</li>
  </ul>

  <h3>Solution:</h3>
  <ul>
    <li *ngFor="let solution of pest.solution">{{ solution.subtitle }}</li>
  </ul>
</div>

<button (click)="navigateToGarden()">back to garden!</button>





