

<div class="plant-details">
  <h2>Plant Details</h2>

  <div *ngIf="plant">
    <!-- Display plant details -->
    <p><strong>Common Name:</strong> {{ plant.commonName }}</p>
    <p><strong>Scientific Name:</strong> {{ plant.scientificName }}</p>
    <p>Water Requirements: {{plant.watering}}</p>
    
  
    <!-- Add other plant details here based on your data structure -->
    
    <!-- Display plant image if available -->
    <div *ngIf="plant.imageUrl">
      <img src="{{ plant.imageUrl }}" alt="Plant Image">
    </div>
  </div>

  <!-- Handle the case when plant details are not available -->
  <div *ngIf="!plant">
    <p>Plant details not found.</p>
  </div>
</div>
<button (click)="navigateToGarden()">Back to Garden</button>
<button (click)="navigateToEdit()">Update Plant</button>
