.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(118, 157, 92);
  color: #fff;
  border: darkgreen;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: rgb(138, 173, 114); 
  }
}



.boxed-details {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: rgb(118, 157, 92); 
  color: #fff; 
  border-radius: 5px; 
  margin: 10px;
  position: relative; 
}

.circular-image {
  border-radius: 50%;
  overflow: hidden;
  width: 400px; 
  height: 400px; 
  margin-top: 10px;
}

.message-bubble {
  position: absolute;
  top: -20px; 
  right: -20px; 
  background-color: rgb(227, 22, 22); 
  color: #fff; 
  padding: 5px 10px; 
  border-radius: 5px; 
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(118, 157, 92);
  color: #fff;
  border: darkgreen;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: rgb(138, 173, 114); 
}

.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
}

.danger {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(118, 157, 92);
  color: #fff;
  border: darkgreen;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: rgb(227, 22, 22);
  }
}

}