

      <div>
        <h1>Plant Search</h1>
        <input [(ngModel)]="commonName" placeholder="Enter common name(s)" />
        <button (click)="searchPlants()">Search</button>
      
    <div *ngIf="plant.length > 0">
        <h3>Search Results:</h3>
        <ul>
          <li *ngFor="let plant of plant">
            <h2>{{ plant.common_name }}</h2>
         
            <div *ngIf="plant.default_image && plant.default_image.length > 0">
              <img [src]="plant.default_image[0].regular_url" alt="{{ plant.common_name }} Image" />
            </div>
            <a [routerLink]="['/addplant', plant.id]">add this plant</a>
            
            
            </li>
            
        </ul>
      </div>
      </div>
      
       
        <button (click)="navigateToGarden()">Back to Garden</button>
        
       