<div class="login-container">
  <div class="center-content">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-container">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="user.name" required>
      </div>
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" id="userName" name="userName" [(ngModel)]="user.userName" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city" [(ngModel)]="user.city">
      </div>
      <div class="button-container">
      <button type="submit" class="btn btn-primary">Create User</button>
    </div>
    </form>

    <div class="image-container">
      <img src="/assets/transparentmushroom.png" alt="Image">
    </div>
    <div class="image-container welcome-image">
      <img src="src\assets\welcome-image.jpg" alt="Welcome Image">
    </div>
  </div>
</div>
