
<div class="grid-container">
  <div class="grid-child"> 
    <app-weather></app-weather> 
  </div>
  <div class="grid-child"> 
    <div class="logo">
    <img [src]="'/assets/templogo.png'" width="500" height="300"> 
  </div> </div>
</div>

<div class="garden-container">
   <div class="welcomebanner">
    
    <div class="welcome-text"><h1>{{user.name}}'s Garden!</h1></div>
    <div class="button-container">
    <button (click)="navigateToUserDetails()" class="button">update profile</button>   
      <button (click)="navigateToLogin()" class="danger">log out</button>
    </div>   
    </div>

<div class="boxed-garden">
<div class="garden">
  
  <div *ngFor="let plant of plants" class="plant-item">
    <div class="frame-container">
      <a [routerLink]="['/plant-details', plant.id]">
      <div class="image-container">
        <img *ngIf="plant.imageUrl" [src]="plant.imageUrl" alt="Plant Image" class="plant-image">
        
      </div> </a>
    </div>
    
    <div class="banner">
      <h2 class="nickname">{{ plant.nickName }}</h2>
    </div>
  </div>

  <div class="plant-item">
    <div class="frame-container">
      <a [routerLink]="['/search-plant']">
        <div class="image-container">
          <img [src]="'/assets/sprout.jpg'" alt="Plant Silhouette" class="plant-image">
        </div>
      </a>
    </div>
    <div class="banner">
      <h2 class="nickname">Add New Plant!</h2>
    </div>
  </div>
</div>

</div>
</div>  
<div class="bottom-content">
  <img [src]="'/assets/transparentmushroom.png'" width="150" height="170" class="bottom-image-container"> 
  <div class="text-container">
    <p>Whoa, your garden looks so cute!</p>
    <p>Thanks for gardening with me today!</p>
  </div>
  
</div>






