<div class="weather">
  <app-weather></app-weather> 
</div>

<div class="garden">
  <div *ngFor="let plant of plants" class="plant-item">
    <div class="frame-container"> 
      <a [routerLink]="['/plant-details', plant.id]">
      <div class="image-container">
        <img *ngIf="plant.imageUrl" [src]="plant.imageUrl" alt="Plant Image" class="plant-image">
        
      </div> </a>
      <div class="frame-overlay"></div>
    </div>
    <div class="banner">
      <h2 class="nickname">{{ plant.nickName }}</h2>
   
    </div>
  </div>
</div>  

<div class="searchplant">
  <button (click)="navigateToPlantSearch()">Search for A Plant!</button>
</div>