<div>
  <app-weather></app-weather> 
</div>

<div class="garden">
  <div *ngFor="let plant of plants" class="plant-item">
    <div class="frame-container"> 
      
      <div class="image-container">
        <img *ngIf="plant.imageUrl" [src]="plant.imageUrl" alt="Plant Image" class="plant-image">
      </div>
      <div class="frame-overlay"></div>
    </div>
    <div class="banner">
      <h2 class="nickname">{{ plant.nickName }}</h2>
   
    </div>
  </div>
</div>
<!--
<div>
    <h1>Your garden!</h1>  
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Nickname</th>
          <th>Common name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plant of plants">
          <td><img src="___"></td>
          <td>{{ plant.nickname }}</td>
          <td>{{ plant.commonname }}</td>
          <td>
            <button [routerLink]="['/plants', plant.idPlant]">View</button>  
            <button [routerLink]="['/update-plant', plant.idPlant]">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p></p>
  <button routerLink="/add-plant">Add a plant</button>
  <p></p>
  <button routerLink="/getNotHealthy">See unhealthy plants</button>
  </div>
  -->